
html {
    font-family: Roboto;
    font-weight: 400;
    text-align: center;
    padding-top: 2em;
  }
  
  /* LOGO */
  
  #logo {
    width: 128px;
    height: 128px;
    border-radius: 8px;
    background: #49E20E;
    border: 1px solid white;
    margin-left:auto;
    margin-right:auto;
    font-size: 100px;
    line-height: 125px;
    color: #F0F8FF;
  }
  
  /* H1 */
  
  h1 {
    font-weight: 400;
    padding-bottom: 1em;
  }
  
  /* FORM */
  
  form {
    border: 1px solid black;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
  }
  hr {
    border: 0;
    border-bottom: 1px solid black;
    display: block;
    margin: 10px -10px;
  }
  label {
    font-weight: bold;
  }
  input {
    border: 0;
    font-size: 18px;
    padding-left: 10px;
  }
  input:focus {
    border: 0;
    outline: 0;
  }
  
  /* A */
  a {
    padding-bottom: .5em;
    text-decoration: none;
    color: #49E20E;
  }
  a:hover {
    border-bottom: 1px solid;
  }